@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
}

body {

    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1;
    transition: all .25s ease-in-out;
    background-color: rgba(215, 220, 230, 0.95);
    display: flex;
    flex-direction: column;
}

.collapse {
    z-index: 0; /* Set a lower z-index value */
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #0c0c0c;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a img{
    padding: 5px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.25rem;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    color: #0c0c0c;
    font-weight: 600;
}

.sidebar-link i {
    font-size: 1.15rem;
    margin-right: .75rem;
}

a.sidebar-link:hover, a.active {
    background-color: rgba(215, 220, 230, 0.85);
    border-left: 3px solid #21395c;
    text-decoration: none !important;
    color: #21395c;
    font-size: 700;
}

a.active > span::after {
    margin-left: 0.5rem;
    content:"\f054";
    font-family: "Font Awesome 5 Free" ;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #4a9cf4;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust label position */
label {
    display: inline-block;
    width: 100px; /* Adjust as needed */
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px; 
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
    

.form-container {
    margin-top: 50px;
}

.btn-container {
    margin-top: 20px; /* Add margin to separate buttons from form */
}

/* Adjust button styles as needed */
.btn-container .btn {
    margin-right: 10px; /* Add margin between buttons */
}

.year-dropdown {
    max-height: 150px; /* Adjust the height as needed */
    overflow-y: auto;
}

.page-heading {
    display: flex;
    /* position: absolute; */
    top: 0;
    left: 100px; /* Adjust as needed to align with the sidebar */
    margin: 10px; /* Add some margin for spacing */
    align-items: top;
    align-items: center;
    
}

.page-heading i {
    font-size: 1.5em; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

/* .container h1 {
    margin-bottom: -35px;
} */